@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f9fcff;
	background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
	min-height: 100vh;
}

code {
	font-family: "Source Sans Pro", sans-serif;
}
